.authlayout-section{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 300px;
    margin-right: 100px;
}

.authlayout-img{
    display: none;
    width: 710px;
    object-fit: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1280px) {
    .authlayout-img{
      display: block;
    }
}

@media (max-width: 1280px) {
    .authlayout-section{
        margin-left: 50px;
        margin-right: 50px;
    }
}