
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }

  
  .navigation-options {
    display: flex;
    align-items: center;
  }
  
  .navigation-options a {
    margin-left: 20px;
    text-decoration: none; /* Remove default underline */
    font-weight: bold;
    padding-left: 30px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    padding-right: 100px;
  }
  
  .logo {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  